header {
	width: 100%;

	&.main {
		background: #111;
	}
	&.sub {
		background: #1e1d1c;
	}

	.inner {
		width: 1180px;
		height: 80px;
		margin: 0 auto;
		position: relative;

		h1 {
			position: absolute;
			bottom: 20px;
			left: 0px;

			a {
				font: bold 26px/1 'arial';
				color: #fff;
			}
		}
		#gnb {
			position: absolute;
			bottom: 0px;
			left: 10vw;

			li {
				float: left;

				a {
					display: inline-block;
					padding: 20px 30px;
					font: bold 14px/1 'arial';
					color: #999;

					&::after {
						content: '';
						display: block;
						width: 0%;
						height: 1px;
						background: #fff;
						transition: 0.5s;
						margin-top: 10px;
					}
					&:hover {
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
		.fa-bars {
			position: absolute;
			bottom: 25px;
			right: 50px;
			font-size: 25px;
			color: #ccc;
			display: none;
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		.inner {
			width: 100%;

			h1 {
				left: 50px;
			}
			#gnb {
				display: none;
			}
			.fa-bars {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	header {
		.inner {
			width: 100%;

			h1 {
				left: 20px;
			}
			.fa-bars {
				right: 20px;
			}
		}
	}
}
