.content {
	background: #111;

	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 0px auto;
		padding: 100px 0px 120px;
		position: relative;

		.visual {
			width: 50%;
			height: 500px;
			padding: 50px 0px;
			margin: 100px 0px;

			img {
				width: 100%;
				height: 100%;
				opacity: 0.6;
				object-fit: cover;
			}
		}

		h1 {
			width: 100%;
			padding-right: 50px;
			font: normal 200px/1 'Bebas Neue';
			color: #eee;
			letter-spacing: 2px;
			float: right;
			text-align: right;
			margin-bottom: 20px;
		}
		> p {
			display: block;
			width: 40%;
			font: 20px/1.6 'open sans';
			color: #aaa;
			float: right;
			margin-top: 100px;
			text-align: left;
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		> .inner {
			width: 100%;
			padding: 80px 50px;
			position: relative;

			.visual {
				height: 400px;
				margin: 50px 0px;
			}

			h1 {
				font: bold 150px/1 'Bebas Neue';
				margin-bottom: 30px;
			}
			> p {
				font: 16px/1.6 'open sans';
				margin-top: 10px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.content {
		> .inner {
			padding: 80px 50px 80px;

			h1 {
				padding: 0px;
			}

			.visual {
				height: 300px;
				width: 100%;
				margin: 20px 0px;
			}

			h1 {
				font: bold 50px/1 'Bebas Neue';
				text-align: center;
			}
			> p {
				display: none;
			}
		}
	}
}
