.Department {
	> .inner {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.main {
			width: 100%;
			margin: 100px 0px 0px;

			ul {
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				li {
					width: 33.333%;
					float: left;
					padding: 0px 50px;

					h2 {
						font: bold 24px/1 'roboto';
						letter-spacing: 1px;
						color: #ccc;
						margin-bottom: 20px;
					}
					p {
						font: 16px/1.3 'open sans';
						color: #aaa;
					}
				}
			}
		}
	}
}

#department {
	width: 100%;
	padding-top: 80px;

	.wrap {
		width: 1180px;
		margin: 0 auto;

		h3 {
			font: bold 50px/1 'roboto';
			color: #ccc;
			margin-bottom: 30px;
			text-align: center;
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 22%;
			padding: 10px;
			margin-bottom: 50px;
			margin-right: 4%;
			float: left;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			&:nth-of-type(1) {
				float: none;
				width: 48%;
				margin-left: 26%;
				margin-right: 0%;

				.inner {
					.pic {
						img {
							object-position: top;
						}
					}
				}
			}
			&:nth-of-type(5) {
				margin-right: 0%;
			}
			&:nth-of-type(2),
			&:nth-of-type(5) {
				margin-top: -30%;
			}

			> .inner {
				width: 100%;

				.pic {
					width: 100%;
					height: 450px;
					background: #000;
					margin-bottom: 20px;
					filter: saturate(0.2);
					transition: filter 0.5s;

					&:hover {
						filter: saturate(1.1);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				h4 {
					font: bold 40px/1 'roboto';
					color: #ccc;
					margin-bottom: 20px;
					padding-left: 10px;
					display: inline-block;

					&::after {
						content: '';
						display: inline-block;
						width: 1px;
						height: 25px;
						background: #777;
						margin-left: 10px;
					}
				}
				p {
					font: 20px/1 'open sans';
					padding-left: 10px;
					color: #aaa;
					display: inline-block;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Department {
		> .inner {
			.main {
				ul {
					li {
						width: calc(100% / 3);
						padding: 0px;

						h2 {
							font: bold 18px/1 'roboto';
							text-align: center;
						}
						p {
							font: 16px/1.3 'open sans';
							color: #aaa;
							text-align: center;
							padding: 0px 10px;
						}
					}
				}
			}
		}
	}

	#department {
		.wrap {
			width: 100%;
			padding: 0px 50px;

			article {
				&:nth-of-type(2),
				&:nth-of-type(5) {
					margin-top: -30%;
				}

				> .inner {
					.pic {
						height: 410px;
					}
					h4 {
						width: 100%;
						text-align: left;
						font: 26px/1 'roboto';
						margin-bottom: 10px;
						padding-left: 5px;
						padding-bottom: 15px;
						border-bottom: 1px solid #777;

						&::after {
							display: none;
						}
					}
					p {
						font: 14px/1 'open sans';
						padding-left: 5px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Department {
		> .inner {
			.main {
				margin: 0px;

				ul {
					li {
						width: 100%;
						margin-bottom: 20px;
						p {
							font: 12px/1.6 'open sans';
							color: #aaa;
							text-align: center;
							padding: 0px 10px;
						}
					}
				}
			}
		}
	}

	#department {
		.wrap {
			article {
				width: 48%;
				margin-right: 2%;

				&:nth-of-type(2),
				&:nth-of-type(5) {
					margin-top: 0%;
				}

				> .inner {
					.pic {
						height: 200px;
					}
				}
			}
		}
	}
}
