#gallery {
	width: 1180px;
	margin: 0px auto;
	padding: 80px 0px;
	position: relative;

	&::after {
		content: '';
		display: block;
		clear: both;
	}
	h3 {
		font: bold 50px/1 'roboto';
		color: #ccc;
		margin-bottom: 30px;
	}
	article {
		width: 25%;
		height: 350px;
		float: left;
		position: relative;
		margin-bottom: 60px;
		transition: 0.5s;

		&:nth-of-type(4n),
		&:last-of-type {
			margin-right: 0%;
			&::before {
				display: none;
			}
		}

		&::before {
			content: '';
			height: 320px;
			width: 1px;
			display: block;
			background: #777;
			position: absolute;
			top: 0%;
			left: 100%;
		}
		&::after {
			content: '';
			height: 1px;
			width: 100%;
			display: block;
			background: #777;
			margin-top: 20px;
		}

		.inner {
			width: 100%;
			height: 100%;

			.pic {
				width: 100%;
				height: 300px;
				padding: 0px 10%;
				cursor: pointer;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			h4 {
				font: 25px/1 'roboto';
				color: #777;
				text-align: center;
				margin-top: 20px;
			}
		}
	}

	button {
		width: 180px;
		padding: 10px 20px;
		border: 1px solid #777;
		background: transparent;
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		font: 18px/1 'open sans';
		color: #fff;
		transition: background 0.5s, color 0.5s;
		cursor: pointer;

		&:hover {
			background: #fff;
			color: #111;
		}
		&.off {
			display: none;
		}
	}
}

@media screen and (max-width: $tablet) {
	#gallery {
		width: 100%;

		h3 {
			margin-left: 30px;
		}

		article {
			width: calc(100% / 3);

			&:nth-of-type(3n),
			&:last-of-type {
				&::before {
					display: none;
				}
			}

			&:nth-of-type(4n),
			&:last-of-type {
				&::before {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#gallery {
		h3 {
			font: bold 40px/1 'roboto';
		}
		article {
			width: 50%;

			&:nth-of-type(3n),
			&:last-of-type {
				&::before {
					display: block;
				}
			}
			&:nth-of-type(2n),
			&:last-of-type {
				&::before {
					display: none;
				}
			}

			.inner {
				width: 100%;
				height: 100%;

				.pic {
					width: 100%;
					height: 300px;
					padding: 0px 10%;
					cursor: pointer;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				h4 {
					font: 25px/1 'roboto';
					color: #777;
					text-align: center;
					margin-top: 20px;
				}
			}
		}
	}
}
