#youtube {
	width: 1180px;
	margin: 0 auto;
	padding: 80px 0px;
	position: relative;

	ul {
		&::after {
			content: '';
			display: none;
			clear: both;
		}
	}

	h3 {
		font: bold 50px/1 'roboto';
		color: #ccc;
		margin-bottom: 30px;
		text-align: center;
	}

	.list {
		width: 100%;
		display: flex;
		justify-content: space-between;

		> li {
			width: 20%;
			padding: 15px 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #777;
			cursor: pointer;

			&:nth-of-type(2n) {
				border-left: none;
				border-right: none;
			}
			&:hover {
				background: #fff;

				h3 {
					color: #111;
				}
			}

			> h3 {
				font: 25px/1 'roboto';
				color: #aaa;
				margin-bottom: 0px;
			}

			&.on {
				background: #fff;

				h3 {
					color: #111;
				}
			}
		}
	}

	.vids {
		margin-bottom: 50px;

		article {
			width: 100%;
			display: flex;
			justify-content: space-between;
			position: relative;
			cursor: pointer;

			.txt {
				padding: 30px;
				width: 40%;
				border: 1px solid #777;
				border-top: none;
				border-right: none;

				h4 {
					display: block;
					height: 40%;
					font: 24px/1 'roboto';
					color: #aaa;
				}
				p {
					display: block;
					height: 50%;
					font: 14px/1.5 'open sans';
					color: #777;
				}
				span {
					display: block;
					height: 10%;
					font: 12px/30px 'open sans';
					color: #ccc;
				}
			}
			.pic {
				width: 60%;
				height: 350px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.play {
				width: 0%;
				height: 100%;
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				left: 39%;
				font-size: 100px;
				color: #ccc;
				background: rgba(0, 0, 0, 0.8);
				opacity: 0;
				transition: 0.5s;
			}

			&:hover {
				.play {
					width: 61.1%;
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#youtube {
		width: 100%;
		padding: 80px 30px;

		.list {
			margin-top: 30px;
			width: 100%;
			display: flex;
			justify-content: space-between;

			> li {
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;

				> h3 {
					font: 20px/1 'roboto';
				}
			}
		}

		.vids {
			article {
				.txt {
					h4 {
						height: 25%;
						font: 18px/1 'roboto';
					}
					p {
						height: 70%;
						font: 12px/1.5 'open sans';
					}
					span {
						height: 5%;
						font: 10px/1.5 'open sans';
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#youtube {
		width: 100%;
		padding: 80px 30px;

		h3 {
			font: bold 40px/1 'roboto';
			color: #ccc;
			margin-bottom: 30px;
			text-align: center;
		}

		.list {
			margin-top: 30px;
			width: 100%;
			display: flex;
			justify-content: space-between;

			> li {
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;

				> h3 {
					font: 14px/1 'roboto';
				}
			}
		}

		.vids {
			article {
				height: 150px;
				border-bottom: 1px solid #777;
				border-right: 1px solid #777;

				.pic {
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.txt {
					padding: 15px;
					border-bottom: none;
					h4 {
						height: 85%;
						font: 14px/1 'roboto';
					}
					p {
						display: none;
					}
					span {
						height: 15%;
						font: 10px/1.5 'open sans';
					}
				}
			}
		}
	}
}
